.header {
  padding:4px;
  position:fixed;
  z-index: 999;
  background-color: var(--bgColor);
  width: 100%;
  transition: all 0.2s ease-out;

}


.list {
  list-style:none;
  display: flex;
  align-items: center;
  gap:3rem;
}

.link {
  text-decoration: none;
  color:#EB5F55;
  font-weight: 700;

  span {
    transition: 0.1s;
  }

  span:hover {
    border-bottom: 2px solid #EB5F55;
  }
}

