
.containerRecipes {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #FCEE9B;

  h1 {
    font-size: 3rem;
    color: #EB5F55;
    margin-top:5rem;
  }

  .recipes {
    height: inherit;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;


    .containerFilters {
      text-align: center;
      width: 100%;
    }
  }


  .searchBar {
    margin: 1em 0;
    padding: 0.5em;
    width: 100%;
    max-width: 500px;
    font-size: 1em;
    font-family: inherit;
    border: 1px solid #EB5F55;
    border-radius: 8px;
  }

  .filters {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;

    label {
      color:#EB5F55;
      font-weight: 700;
    }
  }

  .filters select {
    padding: 0.5em;
    font-size: 1em;
    font-family: inherit;
    border: 1px solid #EB5F55;
    border-radius: 8px;
    background-color: #EB5F55;
    color:white;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  .filters select:hover {
    background-color: white;
    color: #EB5F55;
    cursor:pointer;
  }

  .recipeGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
}



