.containerRecipeImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;



  .recipeImage {
    position:relative;
    height: 350px;
    width: auto;
    z-index: 3;
    border-radius: 4px;
  }
  @media (max-width: 768px) {
    .background {
      width: 250px;
      height: 250px;
    }

    .recipeImage {
      height: 250px;
    }
  }
}
