.containerRecipeImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    background-color: var(--bgColor);
    width: 350px;
    height: 350px;
    position: absolute;
    rotate:45deg;
    z-index: 1;
    border-radius: 8px;
  }

  .recipeImage {
    position:relative;
    height: 350px;
    width: auto;
    z-index: 3;
    border-radius: 4px;
  }
  @media (max-width: 768px) {
    .background {
      width: 250px;
      height: 250px;
    }

    .recipeImage {
      height: 250px;
    }
  }
}
